.back{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/upwk62362283-wikimedia-image.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=0be02c1d5a2e77bbfd07184097852c48");
    margin-bottom: -16px;
}
p{
    color: white;
}
h4{
    color: white;
}
.aboutUsHeader{
    color: white;
}