.back{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgb(7,32,97), rgb(12,171,245));
    margin-bottom: -16px;
}
p{
    color: white;
}
h4{
    color: white;
}
.aboutUsHeader{
    color: white;
}